<div class="list-wrap">
  <el-breadcrumb class="list-breadcrumd" separator-class="el-icon-arrow-right">
    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
    <el-breadcrumb-item>商品管理</el-breadcrumb-item>
    <el-breadcrumb-item>商品添加</el-breadcrumb-item>
  </el-breadcrumb>
  <!-- 步骤条 -->
  <el-steps class="add-product-steps" :active="2" finish-status="success">
    <el-step title="步骤 1"></el-step>
    <el-step title="步骤 2"></el-step>
    <el-step title="步骤 3"></el-step>
    <el-step title="步骤 3"></el-step>
    <el-step title="步骤 3"></el-step>
  </el-steps>
  <!-- /步骤条 -->

  <!-- 添加商品步骤标签页 -->
  <el-tabs tab-position="left">
    <el-tab-pane label="基本信息">
      <!-- 基本信息 -->
      <el-form ref="prodForm" :model="prodForm" label-width="80px">
        <el-form-item label="商品名称">
          <el-input v-model="prodForm.goods_name"></el-input>
        </el-form-item>
        <el-form-item label="商品价格">
          <el-input v-model="prodForm.goods_price"></el-input>
        </el-form-item>
        <el-form-item label="商品重量">
          <el-input v-model="prodForm.goods_weight"></el-input>
        </el-form-item>
        <el-form-item label="商品数量">
          <el-input v-model="prodForm.goods_number"></el-input>
        </el-form-item>
        <el-form-item label="商品分类">
          <CategoryCascader @change="handleCascaderChange"></CategoryCascader>
        </el-form-item>
        <el-form-item label="是否促销">
          <el-radio-group v-model="prodForm.is_promote">
            <el-radio :label="true">是</el-radio>
            <el-radio :label="false">否</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="handleAddProd">立即创建</el-button>
          <el-button>取消</el-button>
        </el-form-item>
      </el-form>
      <!-- 基本信息 -->
    </el-tab-pane>
    <el-tab-pane label="配置管理">配置管理</el-tab-pane>
    <el-tab-pane label="角色管理">角色管理</el-tab-pane>
    <el-tab-pane label="角色管理">角色管理</el-tab-pane>
    <el-tab-pane label="角色管理">角色管理</el-tab-pane>
  </el-tabs>
  <!-- /添加商品步骤标签页 -->
</div>
